@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@300&display=swap');
/*Styles for rgb slider and picker*/
.picker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 20px;
    padding: 20px;

}
.picker input  {
    display: flex;
    flex: 1;
  
    margin: 20px;
    font-size: 25px;
    background: #A94064;
    border-radius: 20px;
    box-shadow: #A94064 2px 2px 10px;

}
.picker input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #A94064;
    cursor: pointer;
    
    
  }
  
  .picker input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #A94064;
    cursor: pointer;
    border: antiquewhite 2px solid;
  }
  #red-label {
    color: rgb(139, 31, 31);
    font-family: 'Dancing Script', cursive;
  }
  #green-label {
    color: rgb(29, 212, 44);
    font-family: 'Dancing Script', cursive;
  }
  #blue-label {
    color: rgb(13, 16, 219);
    font-family: 'Dancing Script', cursive;
  }

#display {
    display: flex;
    border: 2px solid #000;
    background: white ;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: #A94064 2px 2px 10px;
}

body {
    margin: 80px 30px 30px;
    padding: 10px;
}
#rgb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 10px;
}
.picker label {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
  justify-content: center;
  align-items: center;

}
/*Styles for header logo and navbar */
header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #A94064;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;


}

#logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: antiquewhite;
   
}
#navbar {
  display: flex;
  font-size: 100%;
  margin-right: 20px;
}

#navbar li {
    display: flex;
    list-style-type: none;
    font-size: 20px; 
    color: antiquewhite;
    font-family: 'Dancing Script', cursive;
    display: flex;
    line-height: 50px;
    margin: 15px;
    
}
#navbar a {
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Dancing Script', cursive;
    display: flex;
}
#navbar a:hover {
  border: 1px solid antiquewhite;}

  /*Styles for modal and error message*/
#modal {
    position: fixed;
    z-index: 1; 
    left: 33%;
    top: 33%;
    width: 400px; 
    height: 200px; 
    background-color: rgb(255, 255, 255);
    border: 1mm solid rgb(0, 0, 0);
    border-radius: 7px;

  }
  #error {
    display: none;
    color: red;
  }
  #save-btn {
    border: #000 1px solid;
    border-radius: 30px;
  }
  #username-label {
   font-family: 'open sans',sans-serif;
  
  }
  #username {
    border-radius: 20px;
  
  }
  #username-h1 {
    font-family: 'Dancing scrpit',cursive;
    color: #A94064;
  }
/* Styles for generete button, reset button and generate box*/
  #generate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 30px;
    height: 30px;
    margin: 10px;
    font-size: 20px;
    box-shadow: #A94064 2px 2px 10px;
    border: #000 1px solid;
  }
  .picker > #generate-box { 
    
      border: #A94064 2px solid;
      border-radius: 25px;
      height: 200px;
      width: 200px;
      margin: 50px;
      padding: 20px;
      box-shadow: #A94064 2px 2px 10px;
  }
#reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 30px;
    height: 30px;
    margin: 10px;
    font-size: 20px;
    box-shadow: #A94064 2px 2px 10px;
    border: #000 1px solid;
  }

/* styles for smartphones */
@media only screen and (max-width: 700px) {
  header {
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    padding: 10px;

  }
  .picker {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 20px;
    padding: 20px;

}
#modal {
  width: 90%;
  max-width: 90%;
  left: 5px;
  top: 100px;
}
.picker label {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}