@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@300&display=swap');

.picker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    margin: 20px;
    padding: 20px;

}
input {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 25px;

}

#display {
    display: flex;
    border: 2px solid #000;
    background: white ;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

body {
    margin: 30px;
    padding: 10px;
}
#rgb-values {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 10px;
}
.picker label {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;

}
header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #A94064;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;


}

#logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: antiquewhite;
   
}
#navbar li {
    display: flex;
    list-style-type: none;
    font-size: 20px; 
    color: antiquewhite;
    font-family: 'Dancing Script', cursive;
    
}
#navbar a {
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Dancing Script', cursive;
}